main {
    background: #F1F1F1;
}

.nav-add {
    padding-top: 12px;
    height: 64px;
}

img.add-contacts {
    height: 40px;
    cursor: pointer;
}

.row .col.s12.main-container {
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
}

#search {
    background: white;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 200px;
    transition: all 0.3s;
    padding-left: 10px;
}

#search:hover {
    width: 350px;
}

#search:focus {
    width: 500px;
}

.md-footer {
    height: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    text-align: right;
}

.mandatory {
    font-size: 10px;
}

nav ul a.nav-search:hover {
    background-color: initial;
}

.delete, .modify {
    cursor: pointer;
}